<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Secret Space for <%= user %>
    </title> <!-- Dynamic title based on fruit name -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

    <button class="bigButton">Don't Press Me</button>

</body>


</html>