<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Secret Space for <%= user %>
    </title> <!-- Dynamic title based on fruit name -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body class="secretSpace">
    <%# const music = new Audio('/music/lofiMusic.mp3') %>
    <!-- <button class="bigButton" onClick="music.play()">Play</button>
    <button class="bigButton" ">Play</button> -->

    <h1><a href='/'>HOME</a></h1>

</body>


</html>